<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Scraper.Properties.Settings.NBAConnectionString" connectionString="Data Source=ANTHONY-PC;Initial Catalog=NBA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>